doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='/vendor/angular/angular.min.js')
		script(src='/vendor/angular-route/angular-route.min.js')
		script(src='/vendor/angular-resource/angular-resource.min.js')
		script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
		script(src='/vendor/jquery/dist/jquery.min.js')
		script(src='/vendor/angular-bootstrap/ui-bootstrap.min.js')
		script(src='/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
	body(ng-app='app', ng-controller='HomeController as home')
		ul.nav.nav-pills
			li.active
				a(href='/#/') Home
			li
				a(href='/api/users') Users
			li
		div(class='row')
			hr
		div(ng-view)
		script(src="/app/app.js")
