doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

          // Angular JS
        script(src='/node_modules/angular/angular.min.js')
        script(src='/node_modules/angular-route/angular-route.min.js')
        script(src='/node_modules/angular-resource/angular-resource.min.js')
        script(src='/node_modules/angular-ui-router/release/angular-ui-router.min.js')
        script(src='/node_modules/jquery/dist/jquery.min.js')
        script(src='/node_modules/anglular-bootstrap/ui-bootstrap.min.js')
        script(src='/node_modules/anglular-bootstrap/ui-bootstrap-tpls.min.js')
    body
        block content
        script(src="/app/app.js")