extends layout

block content
    div.container
        div.jumbotron
            h2 Basic Table
            p
                | The .table class adds basic styling (light padding and only horizontal dividers) to a table:
            table.table
                thead
                    tr
                        th Username
                        th E-mail
                        th Role
                        th Action
                tbody
                    each user in data.users
                        tr
                            td= user.username
                            td= user.mail
                            td= user.role
                            td
                                a(href='/users/' + user.id, class="btn btn-xs btn-info", role="button") View
